html {
    background-image: url("./site_back.jpg");
}

body {
    text-align: center;
    color: white;
}

body img {
    width: 300;
    height: 300px;
}

/* navigator styling */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.404);
    margin: 20px auto;
}

nav img {
    height: 100px;
    width: 100px;
}

.nav-options {
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
    align-self: center;
    justify-content: space-around;
}

nav a:hover {
    background-color: #111;
}

.intro {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40%;
    margin: auto;
}

/* next event page styling*/
.next-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-event img {
    width: 30%;
    height: 30%;
    margin: auto;
}

.next-event .date{
    margin: 10px;
    font-weight: 800;
    font-size:xx-large;
}

.artists ul {
    list-style-type: none;
}
.next-event p {
    text-align: center;
}

.register ul {
    list-style-type: none;
}

/* footer styling */

.links a{
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 1em;
}

.links img{
    height: 1.5em;
    width: 1.5em;
}


.contact-info{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
}

footer {
    position: absolute;
    bottom:0;
    right: 0;
    width:100%;
    height: 0px; 
    float: right;
    display: flex;
    flex-direction: row;
}
footer div {
    margin-left: 1em;
}

/* form styling */

input {
    border-radius: 5px;
}

form {
    width: 80%;
    margin: 0 auto;
  }
  
  label,
  input {
    /* In order to define widths */
    display: inline-block;
  }
  
  label {
    width: 15%;
    /* Positions the label text beside the input */
    text-align: right;
  }